#company-table thead tr:first-child th {
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0;
    cursor: pointer;
    border-right: 1px solid #fafafa;
    opacity: 1;
    background: linear-gradient(to top, #7d7e7d 0%, #0e0e0e 100%);
}

#tableBody {
    background-color: #ededf1;
    background-size: cover;
}

.modal-header {
    background-color: #333;
    color: #fff;
}