#company-table thead tr:first-child th {
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0;
    cursor: pointer;
    border-right: 1px solid #fafafa;
    opacity: 1;
}

#tableBody {
    background-color: #ecf0f3;
    background-size: cover;
}

.modal-header {
    background-color: #333;
    color: #fff;
}
