#age-required {
    padding: 0 !important;
}

#gender-required {
    padding: 0 !important;
}

#gender-required1 {
    padding: 0 !important;
}

.valid {
    color: #0B7866;
}

.invalid {
    color: rgb(231, 78, 78);
}
