.main-header .nav-link {
    height: 3.5rem;
}

/* LATERAL LEFT MENU */
section {
    height: 100vh;
}
#left-menu{
    /* max-width: 250px; */
    height: 100%;
    /* background-color: rgba(73, 69, 69, 0.932); */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    font-size: 0.8rem;
}
#left-menu a {
    text-decoration: none;
    color: white;
    display: list-item;
}
#left-menu li {
    list-style: none;
    /* text-align: center; */
}
#left-menu li:hover {
    background-color: rgb(85, 9, 85);
    border-bottom: 1px solid white;
}
.sidebar-position {
    background-color:purple;
}
#left-menu li:active {
    background-color: rgb(209, 91, 209);
}
ul div[class*='border-dark']{
    width: 80%;
    margin: auto;
}