.main-header .nav-link {
    height: 3.5rem;
}

.navbar {
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
}

table#users-table {
    width: 100%;
}

table#users-table tbody tr > td:first-child img {
    border-radius: 50%;
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
}
