.survey-container {
  width: 100%;
  font-family: Roboto, Arial, serif;
  height: 89vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.survey-container .table-responsive {
  overflow-x: hidden;
}
.survey-container table thead th h4 {
  display: inline-block;
}

.survey-container table thead i {
  font-size: 1.4em;
}

.survey-container table tbody .Cell-Container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.survey-container form label {
  font-size: 1.3em;
}

.survey-container .SurveyPreview iframe {
  width: 100%;
  height: auto;
}

td.ValueType-Cell label {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr.ValueType-data td {
  border-top: 2px solid rgb(165, 160, 160) !important;
}
tr.ValueType-data .button-actions {
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

th.FieldValues i.fa-plus-square {
  font-size: 1.5em;
  color: #28a745;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.3s ease;
}

th.FieldValues i:hover {
  transform: scale(1.1);
}

td.FieldType-Cell {
  vertical-align: middle;
}

.preview-group {
  height: auto;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}
